<div class="jumbotron text-center">
    <h1>Ball Bearing Slides Series</h1>
    <p><span class="text-primary">저렴하고 실용적인 </span>볼레일로 2단과 3단, 댐핑레일, 광폭레일 등 <span class="text-danger">다양한 옵션</span>이 있습니다.</p>
</div>
<div class="container text-center" id="product">
    <div class="col-md-4" >
        <img src="resources/ball01.png" ui-sref="bearingSlide01">
        <h4 ui-sref="bearingSlide01">3단 댐핑레일</h4>
        <h5 >폭 45mm : 300~500mm</h5>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-4">
        <img src="resources/ball02.png"ui-sref="bearingSlide02">
        <h4 ui-sref="bearingSlide02">광폭 3단 레일</h4>
        <h5>폭 45mm : 250~600mm</h5>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-4">
        <img src="resources/ball03.png" ui-sref="bearingSlide03">
        <h4 ui-sref="bearingSlide03">3단 레일</h4>
        <h5>폭 35mm : 200~500mm</h5>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="resources/ball04.png" ui-sref="bearingSlide04">
        <h4 ui-sref="bearingSlide04">민자 2단 레일</h4>
        <h5>폭 27mm : 300~500mm</h5>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="resources/ball05.png" ui-sref="bearingSlide05">
        <h4 ui-sref="bearingSlide05">언더 2단 레일</h4>
        <h5>폭 27mm : 300~450mm</h5>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-1"></div>
</div>