<div class="jumbotron text-center">
    <h1>Hinge Series</h1>
    <p><span class="text-primary">저렴하고 실용적인 </span>볼레일로 2단과 3단, 댐핑레일, 광폭레일 등 <span class="text-danger">다양한 옵션</span>이 있습니다.</p>
</div>
<div class="container text-center">
    <div class="col-md-3" >
        <img src="resources/hinge01.png" ui-sref="hinge01">
        <h4 ui-sref="hinge01">댐핑경첩 110도 OUT</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge02.png" ui-sref="hinge02">
        <h4 ui-sref="hinge02">댐핑경첩 110도 HALF</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge03.png" ui-sref="hinge03">
        <h4 ui-sref="hinge03">댐핑경첩 110도 IN</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge04.png" ui-sref="hinge04">
        <h4 ui-sref="hinge04">댐핑경첩 90도 OUT</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge05.png" ui-sref="hinge05">
        <h4 ui-sref="hinge05">댐핑경첩 90도 IN</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge06.png" ui-sref="hinge06">
        <h4 ui-sref="hinge06">댐핑유리경첩 OUT</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge07.png" ui-sref="hinge07">
        <h4 ui-sref="hinge07">댐핑유리경첩 IN</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
        <div class="col-md-3" >
        <img src="resources/hinge08.png" ui-sref="hinge08">
        <h4 ui-sref="hinge08">110도 OUT</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge09.png" ui-sref="hinge09">
        <h4 ui-sref="hinge09">110도 HALF</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
    <div class="col-md-3" >
        <img src="resources/hinge10.png" ui-sref="hinge10">
        <h4 ui-sref="hinge10">110도 IN</h4>
        <h5 class="text-primary">3,500</h5>
    </div>
</div>