<div class="order">
    <div class="orderTable">
        <table class ="table table-hover table-bordered">
            <tr>
                <td>총 수량</td>
                <td>총 제품 가격</td>
                <td>배송비</td>
                <td>합계 금액</td>
            </tr>
            <tr>
                <td>{{totalQuantity}}</td>
                <td>{{totalPrice}}</td>
                <td>2500</td>
                <td>{{totalPrice + 2500}}</td>
            </tr>
        </table>
    </div>
    <form  novalidate name="orderForm" class="container orderForm" ng-submit= "sendOrder()">
        <!--Customer information-->
        <p><i class="fa fa-user fa-2x" aria-hidden="true"></i>주문자 정보</p>
        <div class="row orderFormCustomerInfo">
            <div class="orderFormName col-md-3">
                <h4>Your Name</h4>
                <input type = "text" ng-model="customerInfo.name" class="form-control" aria-describedby="basic-addon1" required>
            </div>
            <div class="orderFormTelNumber col-md-2">
                <h4>Telephone Number</h4>
                <input type = "tel" ng-model="customerInfo.telNumber" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="orderFormPhoneNumber col-md-2">
                <h4>Phone Number</h4>
                <input type = "tel" ng-model="customerInfo.phoneNumber" class="form-control" aria-describedby="basic-addon1" required>
            </div>
            <div class="orderFormEmail col-md-5">
                <h4>Email</h4>
                <input type = "email" ng-model="customerInfo.email" class="form-control" aria-describedby="basic-addon1" required>
            </div>
        </div>

        <!--Ship information-->
        <p><i class="fa fa-truck fa-2x" aria-hidden="true"></i>배송 정보</p>

        <div class="orderFormShipInfo">
            <div class="row">
                <div class="orderFormName col-md-3">
                    <h4>Your Name</h4>
                    <input type = "text" ng-model="shipInfo.name" class="form-control" aria-describedby="basic-addon1" required>
                </div>
                <div class="orderFormTelNumber col-md-2">
                    <h4>Telephone Number</h4>
                    <input type = "tel" ng-model="shipInfo.telNumber" class="form-control" aria-describedby="basic-addon1">
                </div>
                <div class="orderFormPhoneNumber col-md-2">
                    <h4>Phone Number</h4>
                    <input type = "tel" ng-model="shipInfo.phoneNumber" class="form-control" aria-describedby="basic-addon1" required>
                </div>
                <div class="orderFormEmail col-md-5">
                    <h4>Email</h4>
                    <input type = "email" ng-model="shipInfo.email" class="form-control" aria-describedby="basic-addon1" required>
                </div>
            </div>
            <div class="row">
                <div class="orderFormPostNumber col-md-2">
                    <h4>Post Number</h4>
                    <input type = "number" ng-model="shipInfo.postNumber" class="form-control" aria-describedby="basic-addon1" required>
                </div>
                <div class="orderFormAddress col-md-10">
                    <h4>Address</h4>
                    <input type = "text" ng-model="shipInfo.address" class="form-control" aria-describedby="basic-addon1" required>
                </div>
            </div>
            <div class="orderFormMessage">
                <h4>Leave Message</h4>
                <input type = "text" ng-model="shipInfo.message" class="form-control" aria-describedby="basic-addon1" >
            </div>
        </div>

        <button type="submit" ng-model="submit" class="btn btn-primary btn-lg btn center-block orderFormButton">
            Confirm and Send Voucher
        </button>
    </form>
</div>